appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1680888073205/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1695989934239/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1700303426725/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1696001836291/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1696431134479/work
clarabel @ file:///Users/runner/miniforge3/conda-bld/clarabel_1697070847978/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1695554259816/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography-split_1695163874923/work
cvxopt==0.0.0
cvxpy @ file:///Users/runner/miniforge3/conda-bld/cvxpy-split_1697151162000/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
ecos @ file:///Users/runner/miniforge3/conda-bld/ecos_1696563391818/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1696601261390/work
frozendict @ file:///Users/runner/miniforge3/conda-bld/frozendict_1695415036303/work
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1592930327044/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1695380058985/work
lxml @ file:///Users/runner/miniforge3/conda-bld/lxml_1695546806210/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1697011174768/work
multitasking @ file:///home/conda/feedstock_root/build_artifacts/multitasking_1622493113162/work
munkres==1.1.4
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1694920094885/work/dist/numpy-1.26.0-cp311-cp311-macosx_11_0_arm64.whl#sha256=6909902123b8421906e90ad77fb0041d9eb2d95bbdc29f3d09c7d244b0e0e5a5
osqp @ file:///Users/runner/miniforge3/conda-bld/osqp_1696561158113/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1696030215465/work
peewee @ file:///Users/runner/miniforge3/conda-bld/peewee_1697222849111/work
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1697423665652/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1694802097009/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1690737849915/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1693930252784/work
qdldl @ file:///Users/runner/miniforge3/conda-bld/qdldl-python_1696550691808/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1696467662374/work/dist/scipy-1.11.3-cp311-cp311-macosx_11_0_arm64.whl#sha256=dece6e859aa89781ed67884db26e5ecd8e04cca5028528580e2f10d8546b7da5
scs @ file:///Users/runner/miniforge3/conda-bld/scs_1680828829902/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1693929250441/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1692026804430/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1695373481350/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1691671248568/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1696434355823/work
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1694681268211/work
yfinance @ file:///home/conda/feedstock_root/build_artifacts/yfinance_1696469211849/work
